@use '../globals/colors' as color;
@use '../globals/typography' as typo;

.btn {
	width: 100%;
	border: none;
	padding: 1rem;
	border-radius: 10px;

	font-family: inherit;
	font-weight: lighter;

	&-red {
		background-color: color.$red;
		color: color.$white;
		margin-top: 1rem;
		font-size: 15px;
	}

	&--dropdown {
		padding: 0;
		background-color: inherit;
		font-size: 1rem;
		font-weight: typo.$fontWeightLight;
	}
}
