@use '../globals/colors' as color;
@use '../globals/typography' as typo;

.btn {
	width: 100%;
	border: none;
	padding: 1rem;
	border-radius: 10px;

	font-family: inherit;
	font-weight: lighter;

	&-red {
		background-color: color.$red;
		color: color.$white;
		margin-top: 1rem;
		font-size: 15px;
	}

	&--dropdown {
		padding: 0;
		background-color: inherit;
		font-size: 1rem;
		font-weight: typo.$fontWeightLight;
	}

	&--profilePage {
		border-radius: 0px;
		// width: 15%;
		width: min(12%, 15%);
		background-color: transparent;
		border: 1px solid color.$lightGray;
		color: color.$lightGray;
		padding: 0.7rem 0;
		font-size: 1rem;
		letter-spacing: 0.3px;
		line-height: 1.1;
	}

	&--squared {
		border-radius: 0px;
		background-color: transparent;
		border: 1px solid color.$lightGray;
		color: color.$lightGray;
		padding: 0.7rem 0;
		font-size: 1rem;
		letter-spacing: 0.3px;
		line-height: 1.1;
		// width: min(130px, 150px);
		// width: 150px;
		width: clamp(8.125rem, 9.375rem, 10rem);
		// line-break: none;
		font-weight: bolder;
		letter-spacing: 1px;

		&.delete {
			color: color.$black;
			background-image: linear-gradient(30deg, white 50%, color.$red 50%);
			background-repeat: no-repeat;
			background-size: 31.25rem;
			background-position: 0%;
			transition: all 0.2s ease-in-out;
		}
	}
}

@media (hover: hover) {
	.btn {
		&--profilePage {
			cursor: pointer;
			&:hover {
				border: 1px solid color.$white2;
				color: color.$white2;
			}
		}

		&--squared {
			cursor: pointer;
			&:hover {
				border: 1px solid color.$white2;
				color: color.$white2;
			}

			&.delete {
				&:hover {
					background-color: color.$red;
					// color: color.$black;
					background-position: 100%;
				}
			}
		}
	}
}
