.Dropdown {
	position: absolute;
	right: -0.5rem;
	top: 3rem;
	background-color: white;
	z-index: 50;
	width: min(10rem, 10rem);
	// width: min(fit-content + 4rem, 8rem);
	border-radius: 2px;

	@media screen and (min-width: 1024px) {
		left: -0.8rem;

		svg {
			display: none;
		}

		li {
			cursor: pointer;
		}
	}

	&__container {
		width: 100%;
		height: 100%;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			bottom: 100%;
			right: 10%;
			border: solid transparent;
			height: 0;
			width: 0;
			pointer-events: none;
			border-bottom-color: white;
			border-width: 0.7rem;

			@media screen and (min-width: 1024px) {
				left: 10%;
			}
		}
	}

	&__item {
		color: black;
		padding: 1rem 0.5rem;
		padding-left: 1rem;
		border-bottom: 1px solid rgba(0, 0, 0, 0.3);

		&:first-of-type {
			position: relative;
		}
		&:last-of-type {
			border-bottom: none;
			text-align: center;
		}
	}
}
