@forward 'form';
@forward 'login';
@forward 'buttons';
@forward 'homepage';
@forward 'images';
@forward 'navbar';
@forward 'searchBar';
@forward 'mediaItem';
@forward 'mediaList';
@forward 'moviesPage';
@forward 'dropdown';
@forward 'profile';
@forward 'modal';
@forward 'manageModal';
@forward 'spinner';
