.Login,
.Register {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
	width: 100%;
	padding: 1.5rem;
	padding-top: 3rem;

	figure {
		margin-bottom: 3.625rem;
	}
}
