@use '../globals/colors' as color;
@use '../globals/typography' as typo;

.ManageModal {
	z-index: 100;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: color.$darkBlue1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	&__logo {
		position: absolute;
		left: 3rem;
		top: 3rem;
	}
	h1 {
		margin: 0;
		font-size: 4vw;
	}

	&__user {
		display: flex;
		padding: 1.3rem 0;
		margin: 1rem 0 2rem 0;

		border-top: 1px solid darken($color: color.$lightGray, $amount: 30%);

		.user-avatar-wrapper {
			position: relative;
			max-width: 110px;
			max-height: 110px;
			margin-right: 1rem;
			img {
				// max-width: 110px;
				width: 100%;
				height: 100%;
				object-fit: contain;
				border-radius: 5px;
			}

			.editSvg {
				position: absolute;
				left: 10%;
				bottom: 10px;
				background-color: color.$black;
				border-radius: 100vw;
				font-size: 1.5rem;
				cursor: pointer;
				padding: 0.2rem;
				box-shadow: 0px 0px 3px 2px lighten($color: color.$black, $amount: 10%);
			}
		}

		&--inputs {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			flex-direction: column;
			// margin-bottom: 2rem;
			border-bottom: 1px solid darken($color: color.$lightGray, $amount: 30%);

			.input-container {
				position: relative;
				input[type='text'] {
					border: none;
					font-family: inherit;
					font-size: 17px;
					padding: 0.5rem 1rem;
					margin-right: 1rem;
					width: 19rem;
					background-color: color.$lightGray2;
					color: color.$white;
					font-weight: 300;
					margin-bottom: 2rem;
					border: 2px solid transparent;

					&::placeholder {
						color: inherit;
					}
					&:focus {
						outline: none;
					}

					&.success {
						border: 2px solid rgb(119, 199, 0);
					}
				}

				svg {
					position: absolute;
					right: -2rem;
					font-size: 2.6rem;
					color: rgb(119, 199, 0);
				}
			}

			.language {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				margin-bottom: 1rem;
				position: relative;
				span {
					padding-bottom: 0.5rem;
					opacity: 0.85;
				}

				button {
					border: 1px solid color.$white2;
					background: none;
					color: color.$white2;
					font-family: inherit;
					line-height: 1.1;
					display: flex;
					align-items: flex-end;
					justify-content: space-between;
					padding: 0.3rem 2rem;
					letter-spacing: 0.5px;
					svg {
						margin-left: 0.3rem;
					}
				}
			}
		}
	}

	&__buttons {
		button {
			border: none;
			margin-right: 1rem;
			background-color: transparent;
			border: 1px solid color.$white2;
			color: color.$white2;
			font-family: inherit;
			font-size: 1.1rem;
			letter-spacing: 1px;
			padding: 0.5rem 1.5rem;
			cursor: pointer;
			&:last-of-type {
				margin: 0;
			}
		}

		.save {
			color: color.$black;
			background-image: linear-gradient(30deg, white 50%, color.$red 50%);
			background-repeat: no-repeat;
			background-size: 31.25rem;
			background-position: 0%;
			transition: all 0.3s ease-in-out;
		}

		.cancel,
		.delete {
			opacity: 0.8;
			transition: all 0.1s ease-in-out;
		}
	}
}
@media (hover: hover) {
	.ManageModal {
		&__buttons {
			.save {
				&:hover {
					// background-color: color.$red;
					color: color.$white2;
					background-position: 100%;
				}
			}

			.cancel {
				&:hover {
					opacity: 1;
					border: 1px solid color.$red;
				}
			}

			.delete {
				&:hover {
					opacity: 1;
					border: 1px solid color.$red;
				}
			}
		}

		.language {
			button {
				&:hover {
					cursor: pointer;
					background-color: rgba(255, 255, 255, 0.2);
				}
			}
		}
	}
}
