@use '../globals/typography' as typo;
@use '../globals/colors' as color;
.MediaItem,
.MediaItem.recommended {
	max-width: 240px;
	width: 100%;
	height: fit-content;
	user-select: none;
	position: relative;

	// &.bookmarked {
	button.bookmarked {
		background-color: color.$red;
		opacity: 0.8;
		// opacity: 0.5;
		svg {
			path {
				fill: color.$white;
				fill-opacity: 1;
			}
		}
	}
	// }

	button {
		background-color: rgba(0, 0, 0, 0.5);
		display: flex;
		align-items: center;
		justify-content: center;
		// padding: 1rem;
		height: 2.25rem;
		width: 2.25rem;
		border-radius: 100vw;
		border: none;
		position: absolute;
		top: 8px;
		right: 8px;
		z-index: 100;

		svg {
			transform: scale(1.2) rotate(1deg);
		}
	}

	figure {
		width: 100%;
		height: 100%;
		position: relative;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 10px;
		}

		figcaption {
			position: absolute;
			bottom: 1.1rem;
			left: 0.85rem;
		}
	}

	&__details {
		width: 100%;

		ul.details {
			display: flex;
			align-items: center;
			width: 100%;
			justify-content: space-between;
			// background-color: red;
			// list-style: disc inside;
			.circle {
				width: 4px;
				height: 4px;
				background-color: white;
				opacity: 0.8;
				border-radius: 100%;
				margin: 0 0.4rem;
			}
			li {
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 13px;
				// font-weight: lighter;
				// font-size: 15px;
				font-weight: 100;
				letter-spacing: 0.5px;
				opacity: 0.9;
				// list-style: disc outside;
				&::marker {
					color: red;
				}
				&:nth-child(3) {
					margin: 0 0rem;

					svg {
						margin-right: 0.55rem;
						transform: scale(1.1);
						path {
							// fill: orange;
						}
					}
				}
			}
		}

		h3 {
			font-weight: typo.$fontWeightMedium;
			font-size: 17px;
			letter-spacing: 0.5px;
			padding-top: 0.2rem;
		}
	}
}

.MediaItem.recommended {
	figure {
		figcaption {
			position: static;
			// display: flex;
			// flex-direction: column;
			width: 100%;

			.MediaItem__details.recommended {
				width: 100%;
				// background-color: red;
				padding-top: 0.3rem;
				padding-bottom: 0.3rem;
				ul {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					.circle {
						height: 2.5px;
						width: 2.5px;
						opacity: 0.7;
					}
					li {
						// display: flex;
						align-items: center;
					}
				}
			}
		}
	}
}
