@use '../globals/colors' as color;
@use '../globals/typography' as typo;

.Modal {
	z-index: 100;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: color.$darkBlue1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
	&__content {
		margin-bottom: 2rem;
	}

	&__text {
		width: 100%;
		line-height: 1.5;
		h1 {
			white-space: nowrap;
			font-size: clamp(2.5rem, 4vw, 4rem);
		}
		h2 {
			color: color.$lightGray;
			font-size: 1.3rem;
			opacity: 0.9;
			font-size: clamp(1.2rem, 4vw, 1.8rem);
			margin-top: 0.5rem;
			letter-spacing: 0.5px;
			opacity: 0.9;
			padding-bottom: 0.5rem;
			// white-space: nowrap;
		}
	}

	&__add {
		display: flex;
		padding: 1.3rem 0;
		margin: 1rem 0 2rem 0;
		border-bottom: 1px solid darken($color: color.$lightGray, $amount: 30%);
		border-top: 1px solid darken($color: color.$lightGray, $amount: 30%);

		@media screen and (max-width: 1024px) {
			// flexd
		}
		&--avatar {
			width: clamp(5.625rem, 7.6vw, 7rem);
			height: clamp(5.625rem, 7.6vw, 7rem);
			margin-right: 1rem;
			img {
				// max-width: 110px;
				width: 100%;
				height: 100%;
				object-fit: contain;
				border-radius: 5px;
			}
		}

		&--inputs {
			display: flex;
			align-items: center;
			// width: clamp(10.125rem, 62vw, 16.25rem);

			input[type='text'] {
				border: none;
				font-family: inherit;
				font-size: 17px;
				padding: 0.5rem 1rem;
				margin-right: 1rem;
				// width: 19rem;
				width: clamp(9.375rem, 40vw, 15.9375rem);
				// width: 100%;

				background-color: color.$lightGray2;
				color: color.$white;
				font-weight: 300;

				&::placeholder {
					color: inherit;
				}
				&:focus {
					outline: none;
				}
			}

			input[type='checkbox'] {
				display: none;

				&:checked + label {
					display: flex;
					align-items: center;
					justify-content: center;
					svg {
						font-size: 2rem;
					}
				}

				& + label {
					border: 1px solid #333;
					border-radius: 0;
					position: relative;
					width: 1.81rem;
					height: 1.81rem;
					margin-right: 0.3rem;
					display: inline-block;
					position: relative;
				}
			}

			.child-checkbox {
				position: relative;
				display: flex;
				align-items: center;
				@media screen and (max-width: 1024px) {
					&:hover {
						.child-profile-tooltip {
							opacity: 1;
							z-index: 150;
							// right: -10rem;
							left: -10rem;

							// &::after {
							// 	right: 10rem;
							// 	// left: 0;
							// }
						}
					}
				}

				.child-profile-tooltip {
					position: absolute;
					width: min(15rem, 17rem);
					background-color: color.$white;
					color: color.$black;
					padding: 0.5rem;
					text-align: center;
					font-size: 15px;
					left: -6rem;
					bottom: 3rem;
					z-index: -1;
					opacity: 0;
					transition: all 0.25s ease-in-out;

					&::after {
						content: '';
						position: absolute;
						top: 100%;
						left: 50%;
						border: solid transparent;
						height: 0;
						width: 0;
						pointer-events: none;
						border-top-color: white;
						border-width: 0.7rem;
						margin-left: -0.7rem;
						@media screen and (max-width: 1024px) {
							left: auto;
							right: 3.4rem;
						}
					}
				}
			}
		}
	}

	&__buttons {
		button {
			border: none;
			margin-right: 1rem;
			background-color: transparent;
			border: 1px solid color.$white2;
			color: color.$white2;
			font-family: inherit;
			font-size: 1.1rem;
			letter-spacing: 1px;
			padding: 0.5rem 1.5rem;
			cursor: pointer;
			&:last-of-type {
				margin: 0;
			}
		}

		.continue {
			color: color.$black;
			background-image: linear-gradient(30deg, white 50%, color.$red 50%);
			background-repeat: no-repeat;
			background-size: 31.25rem;
			background-position: 0%;
			transition: all 0.3s ease-in-out;
		}

		.cancel {
			opacity: 0.8;
			transition: all 0.1s ease-in-out;
		}
	}
}

.ConfirmModal {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 200;
	background-color: color.$darkBlue1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	h2 {
		font-size: clamp(1.2rem, 4vw, 1.8rem);
		margin-top: 0.5rem;
		letter-spacing: 0.5px;
		opacity: 0.9;
		padding-bottom: 0.5rem;
		@media screen and (max-width: 1024px) {
			padding-bottom: 0;
		}
	}

	&__content {
		width: min(90%, 30.25rem);
		// height: min(30%, 30rem);
		padding: 1rem 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-top: 1px solid darken($color: color.$lightGray, $amount: 20%);
		border-bottom: 1px solid darken($color: color.$lightGray, $amount: 20%);
		margin-top: 1.5rem;
		@media screen and (max-width: 1024px) {
			padding: 2rem 0;
		}
		&--image {
			width: clamp(6.25rem, 30vw, 8.125rem);
			height: clamp(6.25rem, 30vw, 8.125rem);

			img {
				height: 100%;
				width: 100%;
				object-fit: contain;
				border-radius: 5px;
			}
		}

		&--text {
			width: 70%;
			p {
				// width: 100%;
				font-size: 1.2rem;
				font-size: clamp(1rem, 4vw, 1.2rem);
				color: color.$white2;
				opacity: 0.8;
				letter-spacing: 0.2px;
				line-height: 1.3;
				padding-left: 1rem;
				// width: min(100%,
				// background-color: cadetblue;
				@media screen and(max-width: 1024px) {
					// padding-left: 1rem;
					line-height: 1.5;
					opacity: 0.9;
				}
			}
		}
	}
	&__buttons {
		display: flex;
		margin-top: 2rem;
		.delete {
			margin-left: 1rem;
		}
	}
}
@media (hover: hover) {
	.Modal {
		&__add {
			&--inputs {
				.child-checkbox {
					cursor: default;
					&:hover {
						.child-profile-tooltip {
							z-index: 101;
							opacity: 1;
						}
					}
				}
			}
		}

		&__buttons {
			.continue {
				&:hover {
					color: color.$white2;
					background-position: 100%;
				}
			}

			.cancel {
				&:hover {
					opacity: 1;
					border: 1px solid color.$red;
				}
			}
		}
	}
}
