.Movies,
.Series,
.Bookmarks {
	h2 {
		padding-bottom: 1.5rem;
	}
	.content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		gap: 1rem;
		list-style: none;
	}
}

.Bookmarks {
	padding-bottom: 1.5rem;
	.Bookmarked {
		&.Series {
			h2 {
				padding-top: 1.5rem;
			}
		}
	}
}
