@use '../globals/colors' as color;
.Navbar {
	width: 100%;
	height: fit-content;
	background-color: color.$darkBlue2;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;

	&__icons {
		display: flex;
		align-items: center;
		height: 100%;
	}

	// &__logo {
	// 	img.logo {
	// 		width: 1.5625rem;
	// 		// color: color.$red;
	// 		height: 1.25rem;
	// 	}
	// }
}
