@use '../globals/colors' as color;

.Profile,
.ManageProfiles {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	a {
		color: inherit;
		width: 100%;
		height: 100%;
	}

	h1 {
		font-size: 2.9375rem;
		margin: 2.5rem 0;
	}

	&__users {
		display: flex;
		align-items: center;
		padding-bottom: 5rem;
		.user {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-right: 1rem;
			border: 2px inset transparent;
			img {
				border-radius: 5px;
				width: 8.6875rem;
				height: 8.6875rem;
				object-fit: contain;
				border: 2px inset transparent;
			}

			span {
				font-size: 1.2rem;
				color: color.$lightGray;
				font-weight: 300;
				letter-spacing: 0.2px;
				padding-top: 1rem;
			}

			&.add {
				.icon {
					width: 8.6875rem;
					height: 8.6875rem;
					background-color: rgba(0, 0, 0, 0);
					border-radius: 5px;
					display: flex;
					justify-content: center;
					align-items: center;
					border: 2px inset transparent;
					svg {
						font-size: 4.5rem;
						color: color.$lightGray;
					}
				}
			}
		}
	}
}

.ManageProfiles {
	&__users {
		.user {
			.avatar-wrapper {
				position: relative;
				width: 8.6875rem;
				height: 8.6875rem;
				&::before {
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0, 0, 0, 0.3);
				}
				.editSvg {
					position: absolute;
					font-size: 2.5rem;
					top: 50%;
					transform: translate(-50%, -50%);
					left: 50%;
				}
			}
		}
	}
}

@media (hover: hover) {
	.Profile {
		&__users {
			.user {
				&:hover {
					cursor: pointer;
					img {
						border: 2px inset color.$red;
					}
					span {
						color: color.$white2;
					}
				}

				&.add {
					&:hover {
						.icon {
							cursor: pointer;
							border: 2px inset color.$red;
							background-color: color.$white2;
						}
						span {
							color: color.$white2;
						}
					}
				}
			}
		}
	}
	.ManageProfiles {
		&__users {
			.user {
				.avatar-wrapper {
					&:hover {
						cursor: pointer;
						img {
							border: 2px inset color.$red;
						}
						span {
							color: color.$white2;
						}
					}
				}

				&.add {
					&:hover {
						.icon {
							cursor: pointer;
							border: 2px inset color.$red;
							background-color: color.$white2;
						}
						span {
							color: color.$white2;
						}
					}
				}
			}
		}
	}
}
