@use '../globals/typography' as typo;
.SearchBar {
	width: 100%;
	display: flex;
	align-items: center;
	// background-color: red;
	padding: 0.5rem 0;
	padding-left: 1rem;

	input.searchInput {
		width: 100%;
		background-color: transparent;
		// outline: none;
		font-family: inherit;
		font-size: 1rem;
		font-weight: typo.$fontWeightLight;
		border: none;
		// background-color: orange;
		padding: 15px 0;
		color: white;

		&:focus {
			border-bottom: 1px solid white;
			outline: none;
		}
	}
}
