@use '../util/' as util;
@use './colors' as color;
@use './typography' as typo;

html {
	box-sizing: border-box;
	font-size: 100%;
	height: 100%;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

body {
	font-family: util.$font;
	background-color: color.$darkBlue1;
	height: 100%;

	color: color.$white;
	font-weight: typo.$fontWeightLight;
}
ul {
	list-style: none;
}
#root {
	height: 100%;
}

a,
a:visited {
	text-decoration: none;
}
.App {
	height: 100%;
}

main {
	padding: 0 1rem;
}

.flex-row-container {
	display: flex;
	// align-content: center;
	align-items: center;
	justify-content: center;
}

.bold {
	font-weight: bolder;
}
