$red: hsl(0, 97%, 63%);
$darkBlue1: hsl(223, 30%, 9%);
$darkBlue2: hsl(223, 36%, 14%);
$lightBlue: hsl(223, 23%, 46%);
$white: hsl(0, 0%, 100%);
$white2: hsl(0, 0%, 90%);
$black: hsl(0, 0%, 0%);
$lightGray: hsl(0, 0%, 63%);
$lightGray2: hsl(0, 0%, 52%);
