@use 'colors' as color;
$fontWeightLight: 300;
$fontWeightMedium: 500;

$headingLarge: 2rem;
$headingMedium: 1.5rem;
$headingSmall: 1.5rem;
$headingXs: 1.125rem;

$bodyMedium: 0.9375rem;
$bodySmall: 0.8125rem;

h1,
h2,
h3 {
	color: color.$white;
	// font-size: $headingLarge;
	font-weight: $fontWeightLight;
}

h2.sectionHeader {
	font-weight: lighter;
}
